---
type Props = {
  href: string;
  variant?: "primary" | "secondary";
  label: string;
};

const { href, variant = "primary", label } = Astro.props;
const className = variant === "primary" ? "btn-primary" : "btn-secondary";
---

<a class={className} href={href}>{label}</a>
